#upload-holding-container{
    .holding-form{
        margin: 24px auto;
        padding: 15px 30px;
        border: 1px dotted #999999;
        .form-item{
            border: 1px dotted #999999;
            padding: 10px;
            margin: 10px 0;
        }
        .submit-btn{
            margin: 10px 0;
        }
    }
}
