#upload-encourage-container{
    .condition-wrapper{
        margin: 0 auto;
        padding: 20px;
        width: 50%;
        background-color: #ffffff;
        .unlockyear-list{
            .unlockyear-item{
                margin: 15px 0;
                padding: 15px;
                border: 1px solid #999999;
                .unlockyear-item-formitem{
                    display: inline-block;
                }
            }
        }
    }
}
