#upload-encourage-container{
    .condition-wrapper{
        display: inline-block;
        margin: 0 2%;
        padding: 20px;
        width: 46%;
        background-color: #ffffff;
        .unlockyear-list{
            .unlockyear-item{
                margin: 15px 0;
                padding: 15px;
                border: 1px solid #999999;
                .unlockyear-item-formitem{
                    display: inline-block;
                }
            }
        }
    }
}
