#upload-merger-container{
    .merger-form{
        margin: 24px auto;
        padding: 15px 30px;
        border: 1px dotted #999999;
        .ant-form-item{
            margin: 5px 0;
            display: inline-block;
            width: 100%;
            .ant-form-item-label{
                display: inline-block;
                width: 40%;
                vertical-align: top;
            }
            .ant-form-item-control-wrapper{
                display: inline-block;
                width: 50%;
                .ant-calendar-picker{
                    width: 100%;
                }
            }
        }
        .desc-input{
            width: 200%;
            .ant-form-item-label{
                width: 20%;
            }
            .ant-form-item-control-wrapper{
                width: 75%;
            }
        }
        .submit-btn{
            margin: 10px 0;
        }
        .ant-input-number{
            width: 100%;
        }
    }
}
