#upload-merger-container{
    .company-sec{
        padding: 20px 0;
        background-color: #ecf6fd;
        border: 1px solid #ececec;
        .company-list{
            margin: 0 auto;
            width: 50%;
            .company-item{
                margin: 15px 0;
                padding: 15px;
                border: 1px solid #999999;
            }
        }
    }
}
