#upload-merger-container{
    .financial-datalist{
        width: 50%;
        margin: 0 auto;
        .financial-dataitem{
            margin: 15px 0;
            border: 1px solid #999999;
        }
    }
}
