#upload-merger-container{
    .recruit-buyerlist{
        margin: 0 auto;
        width: 50%;
        .recruit-buyeritem{
            margin: 15px 0;
            padding: 15px;
            border: 1px solid #999999;
        }

    }
}
